python syntax and structure

In [ ]:
import sys
print(f"Python Version:{sys.version}")
print("Yes python is working corrrectly!")

Python Version:3.11.13 (main, Jun  4 2025, 08:57:29) [GCC 11.4.0]
Yes python is working corrrectly!

In

In [ ]:
print("Hello World !")
x=5
y=10

Hello World !

In [ ]:
Name="John"
name="Jane"
print(Name , name)

John Jane

In [ ]:
if x>0:
  print("x is positive")
  print("This is inside the if block")

x is positive
This is inside the if block

In [ ]:
name="Alice"
message='Hello World'
multiline=""" This is a multiline string """

In [ ]:
str_number ="123"
int_number =int(str_number)
float_number=(float(str_number))
print(f"Original: {str_number}(type:{type(str_number)})")
print(f"Integer: {int_number}(type:{type(int_number)})")
print(f"Float: {float_number}(type:{type(float_number)})")

Original: 123(type:<class 'str'>)
Integer: 123(type:<class 'int'>)
Float: 123.0(type:<class 'float'>)

In [ ]:
first_name = "your first name"
last_name = "your last name"
age= 25
height =5.8
is_student = True
print(f"Name: {first_name} {last_name}")
print(f"Age:{age}")
print(f"Height:{height} feet")
print(f"Student:{is_student} ")
age_str = str(age)
height_int =int(height)
print(f"Age is string:{age_str}")
print(f"Height as integer:{height_int}")

Name: your first name your last name
Age:25
Height:5.8 feet
Student:True
Age is string:25
Height as integer:5

In [ ]:
a=10
b=3
print(f"Addition :{a}+{b}={a+b}")
print(f"substraction :{a}-{b}={a-b}")
print(f"Multiplication:{a}*{b}={a*b}")
print(f"Division:{a}/{b}={a/b}")
print(f" Floor Division:{a}//{b}={a//b}")
print(f"Modulus :{a}%{b}={a%b}")
print(f"Exponentiation :{a}**{b}={a**b}")
result = 2+3*4**2-1
print(f"2+3*4**2-1={result}")

Addition :10+3=13
substraction :10-3=7
Multiplication:10*3=30
Division:10/3=3.3333333333333335
 Floor Division:10//3=3
Modulus :10%3=1
Exponentiation :10**3=1000
2+3*4**2-1=49

In [ ]:
x=5
y=10
print(f"{x}=={y}:{x==y}")
print(f"{x}!={y}:{x!=y}")
print(f"{x}<{y}:{x<y}")
print(f"{x}>{y}:{x>y}")
print(f"{x}<={y}:{x<=y}")
print(f"{x}>={y}:{x>=y}")

5==10:False
5!=10:True
5<10:True
5>10:False
5<=10:True
5>=10:False

In [ ]:
name1="Alice"
name2="Bob"
print(f"'{name1}'<'{name2}': {name1<name2}")

'Alice'<'Bob': True

In [ ]:
p= True
q= False

print(f"p and q:{p and q}")
print(f"p or q:{p or q}")
print(f"not p:{ not p }")

p and q:False
p or q:True
not p:False

In [ ]:
age= 20
has_license = True
can_drive = age>=18 and has_license
print(f"Can drive:{can_drive}")

Can drive:True

In [ ]:
score=85
is_present =True
can_pass = score>=80 and is_present
print(f"Can pass:{can_pass}")

Can pass:True

hands on exercise

In [ ]:
age=25
annual_income= 50000
credit_score=720
has_collateral=True

In [ ]:
min_age = 18
min_income=30000
min_credit_score =650

In [ ]:
age_qualified = age >= min_age
income_qualified = annual_income >= min_income
credit_qualified = credit_score >= min_credit_score
overall_qualified = age_qualified and income_qualified and credit_qualified

In [ ]:
print("=== Loan Qualification Check ===")
print(f"Age: {age} (Required: {min_age}) - {'Yes' if age_qualified else 'No'}")
print(f"Income: ${annual_income} (Required: ${min_income}) - {'Yes' if income_qualified else 'No'}")
print(f"Credit Score: {credit_score} (Required: {min_credit_score}) - {'Yes' if credit_qualified else 'No'}")
print(f"Has Collateral: {'Yes' if has_collateral else 'No'}")
print(f"\nOverall Qualification: {'QUALIFIED' if overall_qualified else 'NOT QUALIFIED'}")

=== Loan Qualification Check ===
Age: 25 (Required: 18) - Yes
Income: $50000 (Required: $30000) - Yes
Credit Score: 720 (Required: 650) - Yes
Has Collateral: Yes

Overall Qualification: QUALIFIED

list

In [ ]:
fruits = ["apple", "banana", "orange", "grape"]
numbers = [10, 20, 30, 40, 50]
mixed_data = [1, "Hello", 3.14, True]

In [ ]:
print(f"First 2 fruits: {fruits[0:2]}")
print(f"Last 2 fruits: {fruits[-2:]}")
print(f"All except first: {fruits[1:]}")

First 2 fruits: ['apple', 'banana']
Last 2 fruits: ['orange', 'grape']
All except first: ['banana', 'orange', 'grape']

In [ ]:
fruits.append("kiwi") # Add to end
fruits.insert(1, "strawberry") # Insert at index
removed = fruits.pop() # Remove last
print(f"Updated list: {fruits}")
print(f"Removed: {removed}")

Updated list: ['apple', 'strawberry', 'banana', 'orange', 'grape']
Removed: kiwi

In [ ]:
print(f"Length: {len(fruits)}")
print(f"Contains 'apple': {'apple' in fruits}")
print(f"Index of 'banana': {fruits.index('banana')}")

Length: 5
Contains 'apple': True
Index of 'banana': 2

tuple

In [ ]:
coordinates = (10, 20)
rgb_color = (255, 128, 0)
person_info = ("Alice", 25, "Engineer", True)

In [ ]:
coordinates = (10, 20)
rgb_color = (255, 128, 0)
person_info = ("Alice", 25, "Engineer", True)

dictionaries

In [ ]:
person = {
"name": "Alice Johnson",
"age": 23,
"profession": "Software Engineer",
"salary": 75000,
"skills": ["Python", "JavaScript", "SQL"]
}

In [ ]:
print(f"Keys: {list(person.keys())}")
print(f"Values: {list(person.values())}")
print(f"Items: {list(person.items())}")

Keys: ['name', 'age', 'profession', 'salary', 'skills']
Values: ['Alice Johnson', 23, 'Software Engineer', 75000, ['Python', 'JavaScript', 'SQL']]
Items: [('name', 'Alice Johnson'), ('age', 23), ('profession', 'Software Engineer'), ('salary', 75000), ('skills', ['Python', 'JavaScript', 'SQL'])]

In [ ]:
print(f"Name: {person['name']}")
print(f"Age: {person.get('age', 'Unknown')}")

Name: Alice Johnson
Age: 23

In [ ]:
person["location"] = "New York"
person["salary"] = 80000

In [ ]:
inventory = {
"laptops": {"quantity": 50, "price": 999.99},
"phones": {"quantity": 100, "price": 599.99},
"tablets": {"quantity": 30, "price": 399.99}
}

In [ ]:
print(f"Laptop price: ${inventory['laptops']['price']}")

Laptop price: $999.99