In [ ]:
def square(x):
  return x ** 2

In [ ]:
square_lambda = lambda x: x ** 2
print(f"Regular function: {square(5)}")
print(f"Lambda function: {square_lambda(5)}")

Regular function: 25
Lambda function: 25

In [ ]:
multiply = lambda x, y: x * y
print(f"Multiply: {multiply(3, 4)}")

Multiply: 12

In [ ]:
numbers = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x**2, numbers))
print(f"Squared numbers: {squared}")

Squared numbers: [1, 4, 9, 16, 25]

In [ ]:
ages = [16, 21, 35, 12, 45, 18, 67]
adults = list(filter(lambda age: age >= 18, ages))
print(f"Adult ages: {adults}")

Adult ages: [21, 35, 45, 18, 67]

In [ ]:
people = [
  {"name": "Alice", "age": 30},
  {"name": "Bob", "age": 25},
  {"name": "Charlie", "age": 35}
]
sorted_people = sorted(people, key=lambda person: person["age"])
print("People sorted by age:")

for person in sorted_people:
  print(f" {person['name']}: {person['age']}")

People sorted by age:
 Bob: 25
 Alice: 30
 Charlie: 35

In [ ]:
def create_library_system():
  """
  Create a simple library management system
  """
  books = []

  def add_book(title, author, isbn, available=True):
    book = {
    "title": title,
    "author": author,
    "isbn": isbn,
    "available": available
    }
    books.append(book)
    print(f"Added: {title} by {author}")

  def find_book(title):
    for book in books:
      if book["title"].lower() == title.lower():
        return book
    return None

  def checkout_book(title):
    book = find_book(title)
    if book and book["available"]:
      book["available"] = False
      print(f"Checked out: {title}")
      return True
    else:
      print(f"Book not available: {title}")
      return False

  def return_book(title):
    book = find_book(title)
    if book:
      book["available"] = True
      print(f"Returned: {title}")
      return True
    else:
      print(f"Book not found: {title}")
      return False

  def list_available_books():
    available = [book for book in books if book["available"]]
    print("Available books:")
    for book in available:
      print(f" - {book['title']} by {book['author']}")
      return available

  return add_book, find_book, checkout_book, return_book, list_available_books

In [ ]:
add_book, find_book, checkout_book, return_book, list_available = create_library_system()

# Add some books
add_book("The Python Guide", "John Doe", "123-456-789")
add_book("Web Development Basics", "Jane Smith", "987-654-321")
add_book("Database Design", "Bob Johnson", "555-123-456")

# Test operations
print("\n--- Library Operations ---")
list_available()
print()

checkout_book("The Python Guide")
list_available()
print()

return_book("The Python Guide")
list_available()

Added: The Python Guide by John Doe
Added: Web Development Basics by Jane Smith
Added: Database Design by Bob Johnson

--- Library Operations ---
Available books:
 - The Python Guide by John Doe

Checked out: The Python Guide
Available books:
 - Web Development Basics by Jane Smith

Returned: The Python Guide
Available books:
 - The Python Guide by John Doe

[{'title': 'The Python Guide',
  'author': 'John Doe',
  'isbn': '123-456-789',
  'available': True},
 {'title': 'Web Development Basics',
  'author': 'Jane Smith',
  'isbn': '987-654-321',
  'available': True},
 {'title': 'Database Design',
  'author': 'Bob Johnson',
  'isbn': '555-123-456',
  'available': True}]

conditional statements

In [ ]:
def get_grade_letter(score):
  if score >= 90:
    return "A"
  elif score >= 80:
    return "B"
  elif score >= 70:
    return "C"
  elif score >= 60:
    return "D"
  else:
    return "F"

In [ ]:
test_scores = [95, 83, 72, 65, 58]
for score in test_scores:
  grade = get_grade_letter(score)
  print(f"Score {score}: Grade {grade}")

Score 95: Grade A
Score 83: Grade B
Score 72: Grade C
Score 65: Grade D
Score 58: Grade F

In [ ]:
def get_shipping_cost(weight, distance):
  base_cost = 5.0

  if weight <= 1:
    weight_cost = 2.0
  elif weight <= 5:
    weight_cost = 5.0
  else:
    weight_cost = 10.0

  if distance <= 100:
    distance_cost = 1.0
  elif distance <= 500:
    distance_cost = 3.0
  else:
    distance_cost = 7.0
  return base_cost + weight_cost + distance_cost

In [ ]:
print(f"Light, close: ${get_shipping_cost(0.5, 50)}")
print(f"Heavy, far: ${get_shipping_cost(10, 800)}")

Light, close: $8.0
Heavy, far: $22.0

In [ ]:
fruits = ["apple", "banana", "orange", "grape"]
for fruit in fruits:
  print(f"I like {fruit}")

I like apple
I like banana
I like orange
I like grape

In [ ]:
for i, fruit in enumerate(fruits):
  print(f"{i+1}. {fruit}")

1. apple
2. banana
3. orange
4. grape

In [ ]:
for day in range(1, 8):
  print(f"Day {day} of the week")

Day 1 of the week
Day 2 of the week
Day 3 of the week
Day 4 of the week
Day 5 of the week
Day 6 of the week
Day 7 of the week

In [ ]:
print("Multiplication Table:")
for i in range(1, 6):
  for j in range(1, 6):
    product = i * j
    print(f"{i} x {j} = {product:2d}", end=" ")
    print()

Multiplication Table:
1 x 1 =  1
1 x 2 =  2
1 x 3 =  3
1 x 4 =  4
1 x 5 =  5
2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 = 10
3 x 1 =  3
3 x 2 =  6
3 x 3 =  9
3 x 4 = 12
3 x 5 = 15
4 x 1 =  4
4 x 2 =  8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
5 x 1 =  5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25

In [ ]:
sales_data = [
{"product": "Laptop", "price": 999, "quantity": 5},
{"product": "Phone", "price": 599, "quantity": 10},
{"product": "Tablet", "price": 399, "quantity": 8}
]

total_revenue = 0

for item in sales_data:
  item_revenue = item["price"] * item["quantity"]
  total_revenue += item_revenue
  print(f"{item['product']}: ${item_revenue}")

print(f"Total Revenue: ${total_revenue}")

Laptop: $4995
Phone: $5990
Tablet: $3192
Total Revenue: $14177

In [ ]:
def simple_guessing_game():
  target = 7
  guess = 0
  attempts = 0
  print("Guess the number between 1 and 10!")

  while guess != target:

    # Simulate user input
    import random
    guess = random.randint(1, 10)
    attempts += 1

    if guess < target:
      print(f"Guess {attempts}: {guess} - Too low!")
    elif guess > target:
      print(f"Guess {attempts}: {guess} - Too high!")
    else:
      print(f"Guess {attempts}: {guess} - Correct!")

    # Safety check
    if attempts > 10:
      print("Max attempts reached!")
      break

  print(f"Game finished in {attempts} attempts")

simple_guessing_game()

Guess the number between 1 and 10!
Guess 1: 1 - Too low!
Guess 2: 9 - Too high!
Guess 3: 5 - Too low!
Guess 4: 10 - Too high!
Guess 5: 7 - Correct!
Game finished in 5 attempts

In [ ]:
def process_queue():
  queue = ["Task 1", "Task 2", "Task 3", "Task 4"]

  while queue:
    current_task = queue.pop(0) # Remove first item
    print(f"Processing: {current_task}")

    print(f"Remaining tasks: {len(queue)}")

  print("All tasks completed!")

process_queue()

Processing: Task 1
Remaining tasks: 3
Processing: Task 2
Remaining tasks: 2
Processing: Task 3
Remaining tasks: 1
Processing: Task 4
Remaining tasks: 0
All tasks completed!

functions

In [ ]:
def greet(name):
  return f"Hello, {name}!"

In [ ]:
message = greet("Python Programmer")
print(message)

Hello, Python Programmer!

In [ ]:
def calculate_area(length, width):
  area = length * width
  return area

In [ ]:
room_area = calculate_area(12, 10)
print(f"Room area: {room_area} square feet")

Room area: 120 square feet

In [ ]:
def create_user_profile(name, age=18, location="Unknown", active=True):
  return {
      "name": name,
      "age": age,
      "location": location,
      "active": active
  }

In [ ]:

profile1 = create_user_profile("Alice") # Use defaults
profile2 = create_user_profile("Bob", 25) # Override age
profile3 = create_user_profile("Charlie", location="New York", age=30) # Named parameters

print(f"Profile 1: {profile1}")
print(f"Profile 2: {profile2}")
print(f"Profile 3: {profile3}")

Profile 1: {'name': 'Alice', 'age': 18, 'location': 'Unknown', 'active': True}
Profile 2: {'name': 'Bob', 'age': 25, 'location': 'Unknown', 'active': True}
Profile 3: {'name': 'Charlie', 'age': 30, 'location': 'New York', 'active': True}

In [ ]:
def analyze_text(text):
  words = text.split()
  word_count = len(words)
  char_count = len(text)
  char_count_no_spaces = len(text.replace(" ", ""))
  return word_count, char_count, char_count_no_spaces

In [ ]:
sample_text = "Python is a powerful programming language"
words, chars, chars_no_space = analyze_text(sample_text)
print(f"Text: '{sample_text}'")
print(f"Word count: {words}")
print(f"Character count: {chars}")
print(f"Characters (no spaces): {chars_no_space}")

Text: 'Python is a powerful programming language'
Word count: 6
Character count: 41
Characters (no spaces): 36

In [ ]:
def calculate_average(*numbers):
  if not numbers:
    return 0
    return sum(numbers) / len(numbers)

avg1 = calculate_average(10, 20, 30)
avg2 = calculate_average(5, 15, 25, 35, 45)
avg3 = calculate_average(100)

print(f"Average of 10, 20, 30: {avg1}")
print(f"Average of 5, 15, 25, 35, 45: {avg2}")
print(f"Average of 100: {avg3}")

Average of 10, 20, 30: None
Average of 5, 15, 25, 35, 45: None
Average of 100: None

In [ ]:
def create_report(**data):
  print("=== REPORT ===")
  for key, value in data.items():
    print(f"{key.replace('_', ' ').title()}: {value}")

  print("===============")

create_report(
  title="Monthly Sales Report",
  date="2024-01-01",
  total_sales=15000,
  new_customers=25,
  returning_customers=150
)

=== REPORT ===
Title: Monthly Sales Report
Date: 2024-01-01
Total Sales: 15000
New Customers: 25
Returning Customers: 150
===============